/* CSS Document */

.form-control {
    display: none !important;
}

.search-button {
    border: none;
    color: #fff;
    font-size: 20px;
    border-right: 1px solid #00747f;
    border-left: 1px solid #00747f;
    border-radius: 0px;
    padding-top: 18px;
    padding-bottom: 10px;
}

.search-button:hover {
    background: #e59700;
    color: #fff !important;
}

.searchform:hover .form-control {
    display: block !important;
    top: 100% !important;
    right: 0.7% !important;
    position: absolute;
}

.banner {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*	background-attachment: fixed;*/
}

.header-top {
    background: #002327;
    padding: 10px;
}

.topheader li {
    color: #0093a1;
    padding-right: 15px;
    font-size: 12px;
	
}

.header-top img {
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.header-top p {
    color: #0093a1;
    font-size: 11px;
    display: inline;
}

.topheader3m {
text-align: right;
}

.mainmenu {
    padding: 0 16px 0 16px;
}

.mainmenu ul {}

.mainmenu ul li {}

.mainmenu ul li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 18px;
    padding-bottom: 15px;
    margin-right: 10px;
    font-size: 14px;
}

.mainmenu ul li a:hover {
    background: #e59700;
}

.header {
    background: #0093a1;
    padding: 0;
}

.social {}

.social ul {}

.social ul li {
    padding: 0px 15px;
}

.social ul a {
    font-size: 25px;
    color: #fff;
}

.facebook {
    color: #365F9F!important;
}

.twitter {
    color: #1EA1F3!important;
}

.linkedin {
    color: #066C9A!important;
}

.social-icon {
    margin-right: 7px;
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    color: #0093A1 !important;
    font-weight: 500 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.dropdown-menu a:hover {
    background: #fff !important;
    color: black !important;
}

.btn {
    transition: 0.2s !important;
}

.banner h1 {}



.banner span {
    width: 25px;
    height: 6px;
    display: inline-block;
    background: #fff;
    margin-bottom: 40px;
}

.banner p {}

.btn-custom {}

.p30 {
    position: absolute;
    bottom: 55px;
    right: 140px;
    color: #fff;
    text-align: end;
}

.img30 {
    position: absolute;
    bottom: 55px;
    right: 0;
}

.banner-content {
    text-align: left !important;
}

.btn-custom:hover {
    color: #002327;
    box-shadow: 0 0px 5px 1px #ffffffb3;
}

.banner-content h1 {
    font-size: 72px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 130px;
    margin-bottom: 35px;
}

.banner-content span {}

.banner-content p {
    font-size: 16px;
    color: #fff;
    line-height: 25px;
    margin-bottom: 55px;
}

.btn-custom {
    width: 135px;
    height: 40px;
    background: #E59700;
    font-size: 14px;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 100px;
    transition: .3s all !important;
}

.banner-content-30 {
    position: relative;
}

.residential-1 {
    transition: .3s all;
    border-bottom: 1px solid #0093A1;
    border-left: 0.5px solid #0093A1;
}

.residential {
    transition: .3s all;
    border-bottom: 1px solid #0093A1;
    border-right: 0.5px solid #0093A1;
}

.residential:hover {
    background: #0093A1;
}

.residential-1:hover {
    background: #0093A1;
}

.residential a {
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px 0;
    display: block;
    letter-spacing: 2px;
    color: #0093A1;
    font-weight: 600;
}

.residential-1 a {
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px 0;
    display: block;
    letter-spacing: 2px;
    color: #0093A1;
    font-weight: 600;
}

.residential a:hover {
    text-decoration: none !important;
    color: #fff;
}

.residential-1 a:hover {
    text-decoration: none !important;
    color: #fff;
}


/*
.recent:first-child {
	border-right: 1px solid #0093A1;
}
*/

.recent-articles {
    position: relative;
}

.recent-articles span {
    display: inline-block;
    width: 101%;
    height: 1px;
    background: #0093A1;
    margin-top: 12%;
}

.recent-articles h2 {
    font-size: 36px;
    margin-top: 35px;
    color: #0093A1;
    margin-bottom: 30px;
}

.the-times {
    border: 2px solid #0093A1;
    width: 450px;
    position: absolute;
    right: 32%;
    /*! padding: 20px 50px 20px 20px; */
    margin-bottom: 60px;
}

.the-times img {
    padding: 20px 50px 20px 20px;
}

.window {
    margin-bottom: 100px;
}

.window h2 {
    font-size: 40px;
    color: #0093A1;
    font-weight: 400;
    margin-top: 85px;
    margin-bottom: 40px;
}

.window span {
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #0093A1;
    margin-bottom: 45px;
}

.window br {}

.window p {
    font-size: 16px;
    font-weight: 200;
    color: #777777;
    margin-bottom: 45px;
}

.films {
    background: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*	background-attachment: fixed*/
}

.films::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: hsla(185, 100%, 35%, 0.61)
}

.films h2 {
    font-size: 40px;
    color: #fff;
    font-weight: 400;
    margin-top: 80px;
}

.films span {
    display: inline-block;
    width: 40px;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
    margin-top: 25px;
}

.films p {
    margin: 50px 0 70px 0;
    text-align: left;
    color: #fff;
    font-weight: 200;
    font-size: 16px;
}

.films .images {
    border: 2px solid #fff;
    border-radius: 50%;
    height: 114px;
    width: 114px;
    margin: 0 auto;
    line-height: 114px;
}

.films .images img {}

.blog-title {
    margin: 30px 0 70px 0 !important;
    text-align: center !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.testimnials {
    position: relative;
}

.testimnials h2 {
    font-size: 40px;
    color: #0093A1;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 40px;
}

.testimnials span {
    display: inline-block;
    width: 40px;
    height: 2px;
    background: #0093A1;
    /*
	margin-bottom: 40px;
	margin-top: 40px;
*/
    position: absolute;
    right: 49%;
}

.testimnials p {
    margin-top: 40px;
    font-size: 15px;
    color: #0093A1;
    font-weight: 400;
}

.testimnials .name {
    font-size: 18px;
    font-weight: bolder;
    color: #0093A1 !important;
}

.btncustom {
    position: absolute;
    width: 140px;
    color: #fff;
    background: #E59700;
    line-height: 30px;
    border-radius: 3px;
    left: 43%;
    margin-top: 40px;
}

.table {
    margin-top: 140px;
    margin-bottom: 100px;
}

.table-border {
    border: 1px solid #0095A3;
    box-shadow: 0.5px 1.5px 0 1px #0095A3;
    padding: 10px;
}

.table-border h2 {
    font-size: 30px;
    font-weight: 700;
    color: #0095A3;
}

.table-border h3 {
    font-size: 24px;
    font-weight: 500;
    color: #0095A3;
}

.table-border h4 {
    font-size: 24px;
    font-weight: 300;
    color: #0095A3;
}

.contact {}

.contact h2 {font-size: 40px;color: #0093A1;font-weight: 400;margin-top: 60px;margin-bottom: 40px;text-transform: uppercase;text-align: center;}

.contact span {display: inline-block;width: 40px;height: 2px;background: #0093A1;margin-bottom: 40px;/*! margin-top: 40px; *//*! position: absolute; *//*! right: 49%; */margin: 30px auto;display: block;}

.contact-1 {
    background: #0093A1;
/*    min-height: 405px;*/
}

.contact-1 h2 {
    color: #fff;
    font-size: 34px;
    padding: 30px;
    padding-bottom: 20px;
    margin: 0;
    text-align: left;
}

.contact-1 span {
    width: 35px;
    height: 3px;
    display: inline-block;
    background: #fff;
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.contact-1 h3 {
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    margin-left: 30px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.contact-1 h4 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-left: 30px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.contact-2 {
    margin-left: 30px;
    margin-top: 16px;
    border: 2px solid #fff;
    width: 60%;
}

.contact-2 p {
    margin-bottom: 0;
    padding: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}

.owl-carousel {}

.bottomsearch {
    display: block !important;
    margin-top: 10px;
}

footer {
    background: #002327;
}

footer ul {}

footer ul li {
    font-size: 11px;
    color: #61888B;
    font-weight: 700;
}

.number {}

.number h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
}

.number a {
    font-weight: 500;
    color: #0093A1;
    margin-top: 25px;
}

.footersearch {
    margin-top: 55px
}

.footersearch h6 {
    font-size: 13px;
    color: white;
}



.footersearch input {
    margin: 0;
    margin-right: 0 !important;
    background: #0C2B2F;
    color: #61888b;
    border: none;
    width: 70% !important;
    font-style: italic;
    font-weight: 600;
    border-radius: 0;
    padding: 7px;
}

.footersearch input:focus {
    background: #0C2B2F !important;
    color: #61888b;
    box-shadow: none !important;
}

.footersearch button {
    margin: 0 !important;
    border: 0;
    background: #003B42;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    padding: 10px 20px;
}

.font-weight-bold {
    color: #fff;
    font-size: 14px;
}

.like {
    margin-left: 24px;
    margin-top: 5px;
}

.footer-img {
    bottom: 0 !important;
}

.footer-end {
    padding: 60px 0px;
}

.footer-top {
    border-top: 1px solid #0093A1;
    padding: 25px 0;
}

.footer-top a:hover {
    text-decoration: none !important;
    color: #004149 !important;
}

.footer-top p {
    color: #61878A;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 0;
}

.footer-top ul {
    position: relative;
}

.footer-top li {
    font-size: 11px;
    color: #61888B !important;
    font-weight: 700;
    position: relative;
}

.footer-top a {
    font-size: 10px;
    color: #61888B !important;
    font-weight: 500;
    padding: 0 10px;
}

.footer-top li::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 10px;
    background: #61878a;
    top: 4px;
    /*margin-left: 10px;*/
}

.footer-top li:last-child:after {
    content: none;
}

.btn-outline-success:hover {
    background: #0093A1 !important;
}

.fa-bars {
    color: #fff !important;
    transition: .3s;
}

.navbar-toggler {
    border: 2px solid #FFFFFF;
    transition: all .3s;
}

.navbar-toggler:hover {
    background: #fff;
}

.navbar-toggler:hover .fa-bars {
    color: #0093A1!important;
}
.cot-1 {
	padding-left: 125px;
}

.social-top {
	padding: 0 4px;
	
}






